---
---

@import 'jekyll-theme-minimal';


/* CUSTOM CSS */
/* tyyym.info site */

/* variables */
/* color scheme */

:root {
--main-bg-color: #131313;
--main-txt-color: lightgrey;
--main-txt-hover: lightgrey /* mediumseagreen; */
--main-txt-a-hover-decoration: underline;
--main-txt-a-hover-color: mediumseagreen;
--main-txt-a-hover-decoration-style: solid; /* alt = dotted */
--main-txt-hover-decoration: underline;
--main-txt-hover-decoration-style: solid;
/* --txt-underline-up-col: grey; */
--main-txt-size: 18px;
--main-line-height: 1.5;
--max-width: 700px; /* 900 */
/* --inset-width: 600px; /* 750 */
}

/* CUSTOM SPAN CLASSES */

.strong{
  color: var(--main-txt-color) !important;
}

.testkram{
  color: green !important;
}

/* main-container */
.container-lg{
    max-width: var(--max-width);
    background: var(--main-bg-color) !important;
}

.markdown-body, body{
    font-size: var(--main-txt-size);
    line-height: var(--main-line-height);
    background: var(--main-bg-color) !important;
    color: var(--main-txt-color) !important;
}

.markdown-body a, body a{
    color: var(--main-txt-color) !important;
    text-decoration: var(--main-txt-hover-decoration) !important;
    text-decoration-style: var(--main-txt-hover-decoration-style) !important;
    text-decoration-color: var(--txt-underline-up-col) !important;
}

.markdown-body a:hover{
  text-decoration: var(--main-txt-a-hover-decoration) !important;
  text-decoration-style: var(--main-txt-a-hover-decoration-style) !important;
  color: var(--main-txt-a-hover-color) !important;
}

.markdown-body p, p, details p, details a, p strong{
    /* margin-bottom: 4px; */
    font-weight: 200;
    color: var(--main-txt-color) !important;
}

/* markdown to bold style */
.markdown-body strong, strong{
    color: var(--main-txt-color) !important;
    font-weight: 400; /* 400 with green */
}

.markdown-body blockquote, blockquote{
    margin-top: 0.5em;
    /* margin-bottom: 0.5em; */
    padding: 0 1em;
    border: 0;
    color: var(--main-txt-color) !important;
    font-family: courier;
    /* background: #FFD1CE; */
}

.markdown-body h1, h1 {
    font-size: 1em;
    padding-bottom: 0.3em;
    border-bottom: none;
    color: var(--main-txt-color) !important;
}

.markdown-body h2, h2,
.markdown-body h3, h3,
.markdown-body h4, h4
{
    font-size: 1em;
    padding-bottom: 0.3em;
    border-bottom: none;
}

.markdown-body p, p, details p, details a{
    /* margin-bottom: 4px; */
    font-weight: 200; /* black theme light black */
}

/* date/indent */
.markdown-body code, code,
.markdown-body samp, samp,
.markdown-body kbd, kbd
{
    font-size: 1em;
    margin-right: 10px;
    padding: .2em .4em;
    background-color: white;
    border-radius: 3px;
    font-size: 85%;
    border: none;
    font-family: monospace, monospace;
}

/* UNUSED ----------------------------------------- */

/* date block */
.markdown-body code,
code {
    color: black;
}
/* invisible block */
.markdown-body kbd, kbd,
.markdown-body samp, samp,
.markdown-body pre, pre
{
    color: white;
    box-shadow: none;
}

/*  details-summary collapse style
    removes arrow
    underline style
*/
details > summary {
    border: none;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    display: block;
    outline:none;
    margin-bottom: 4px;
    font-weight: 200;
}

details > summary::-webkit-details-marker {
    display: none;
    outline: none;
}

/* when hovering over extra content line */
details :hover,
details a:hover,
details .strong:hover {
    color: inherit;
}

details[open] {
    background: inherit;
}

/*details */
sup {
    vertical-align: super;
    font-size: smaller;
    font-weight: 500;
    color: red !important;
    position: inherit;
    margin-left: 0.4em;
}

sup:hover{
    color: green !important;
}

/* extra layout and features */

/*details>details wrapper */
#details-wrap, #details-wrap:hover{
    width:inherit;
    max-width: 600px;
    margin-left: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    /* background: #FFD1CE; */
}

/* soundcloud-bandcamp player container */
#bs-player,
.markdown-body #bs-player,
#bs-player:hover,
.markdown-body #bs-player:hover {
    max-width: 600px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    /* background: #FFD1CE; */
}

/* image container */
#details-wrap > img,
.markdown-body img,
.markdown-body img .responsive-img,
img
{
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0.5em 0 0.5em 0;
    /* background: #FFD1CE; */
}
