---
---

@import "{{ site.theme }}";

/* CUSTOM CSS */
/* paulabbott.net site */

/* variables */
/* color scheme */
:root {
/* dark scheme */
/*
--main-bg-color: black;
--main-txt-color: lightgrey;
*/

/* dusk */
--main-bg-color: #404040;
--main-txt-color: lightgrey;
--main-txt-hover: mediumseagreen;
/* light scheme */
/*
--main-bg-color: white;
--main-txt-color: black;
*/
--main-txt-hover-decoration: underline;
--txt-underline-up-col: grey;
--main-txt-size: 16px;
--main-line-height: 1.3;
--max-width: 800px; /* 900 */
--inset-width: 600px; /* 750 */

}

/* note: using variables in place */
/* parameter: var(VARIABLE-NAME-HERE) */
/* e.g. background-color:var(--main-txt-color) */

/* main-container */
.container-lg{
    max-width: var(--max-width);
    background: var(--main-bg-color) !important;
}

.markdown-body, body{
    font-size: var(--main-txt-size);
    line-height: var(--main-line-height);
    background: var(--main-bg-color) !important;
    color: var(--main-txt-color) !important;
}

.markdown-body a, body a{
    color: var(--main-txt-color) !important;
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    text-decoration-color: var(--txt-underline-up-col) !important;
}

.markdown-body a:hover{
  text-decoration: var(--main-txt-hover-decoration) !important;
  color: var(--main-txt-hover) !important;
}

.markdown-body p, p, details p, details a{
    margin-bottom: 4px;
    font-weight: 200;
    color: var(--main-txt-color) !important;
}

/* CUSTOM SPAN CLASSES */

.testkram{
  color: green !important;
}

.pdate{
  color: green !important;
}
.pproject{
  font-weight: bold !important;
  font-variant: normal !important;
}
.ptype{
  font-style: italic;
}
.ppublisher{
  color: yellow !important;
}

/*details>details wrapper */
#details-wrap, #details-wrap:hover{
    width:inherit;
    max-width: var(--inset-width);
    margin-left: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    /* background: #FFD1CE; */
}

/* soundcloud-bandcamp player container */
#bs-player,
.markdown-body #bs-player,
#bs-player:hover,
.markdown-body #bs-player:hover,
{
    max-width: var(--inset-width);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    /* background: #FFD1CE; */
}

/* image container */
#details-wrap > img,
.markdown-body img,
.markdown-body img .responsive-img,
img
{
    width: 100%;
    max-width: var(--inset-width);
    height: auto;
    margin: 0.5em 0 0.5em 0;
    border: 1px solid !important;
    border-color: grey !important;
}

.markdown-body blockquote, blockquote{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0 1em;
    border: 0;
    font-family: courier;
    color: var(--main-txt-color)!important;
    background: var(--main-bg-color) !important;
}

.markdown-body h1, h1 {
    font-size: 1em;
    padding-bottom: 0.3em;
    border-bottom: none;
    color: red;
}

.markdown-body h2, h2,
.markdown-body h3, h3,
.markdown-body h4, h4
{
    font-size: 1em;
    padding-bottom: 0.3em;
    border-bottom: none;
}

/* date/indent */
.markdown-body code, code,
.markdown-body samp, samp,
.markdown-body kbd, kbd
{
    font-size: 1em;
    margin-right: 10px;
    padding: .2em .4em;
    background-color: var(--main-bg-color);
    border-radius: 3px;
    font-size: 85%;
    border: none;
    font-family: monospace, monospace;
}

/* date block */
.markdown-body code, code,{
    color: var(--main-txt-color);
}
/* invisible block */
.markdown-body kbd, kbd,
.markdown-body samp, samp,
.markdown-body pre, pre
{
    color: var(--main-bg-color);
    box-shadow: none;
}

/* markdown to bold style */
.markdown-body strong, strong{
    /* color: var(--main-txt-color); */
    font-weight: 400;

}

/*  details-summary collapse style
    removes arrow
    underline style
*/
details > summary{
    border: none;
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    text-decoration-color: var(--txt-underline-up-col) !important;
    cursor: pointer;
    list-style: none;
    display: block;
    outline:none;
    margin-bottom: 4px;
    font-weight: 200;
}

details > summary::-webkit-details-marker {
    display: none;
    outline: none;
}

/* when hovering over extra content line */
details > summary:hover,
details a:hover,
details .strong:hover
{
    text-decoration: var(--main-txt-hover-decoration) !important;
    color: var(--main-txt-hover) !important;
}

details open{
    /*
    background: white;
    */
}

/*details */
sup {
    vertical-align: super;
    font-size: smaller;
    font-weight: 500;
    color: var(--main-bg-color) !important; /* makes invisible */
    position: inherit;
    margin-left: 0.4em;
}

sup:hover{

    /* color: green !important; */
}
